@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn {
    @apply rounded border border-gray-700 p-1.5 text-gray-700 hover:text-white
    hover:bg-gray-500 hover:border-gray-500 transition duration-300 dark:text-gray-200
    dark:border-gray-200 dark:hover:text-gray-700 dark:hover:bg-white;
  }
  .btn.btn_danger{
    @apply border-red-500 text-red-500 hover:text-white hover:bg-red-500 hover:border-red-500;
  }
  .btn.btn_success{
    @apply border-green-500 text-green-500 hover:text-white hover:bg-green-500 hover:border-green-500;
  }
  .btn.fullscreen__btn{
    @apply absolute top-0 right-0 border-t-0 border-r-0 rounded-t-none rounded-r-none bg-white border-t-black border-r-black z-[1];
  }

  .btn:disabled{
    @apply text-gray-500 border-gray-500 hover:border-gray-500 hover:bg-white hover:text-gray-500;
  }

  .btn.fullscreen__btn img{
    width: 14px;
    @apply relative z-[-1];
  }
}

body.dark{
  @apply text-gray-200 bg-[#2a2b2e];
}

input, textarea, select {
  @apply rounded border border-gray-700 my-1 p-1 dark:text-black;
}

input[type="file"]{
  @apply  dark:text-white;
}

input:disabled{
  @apply text-gray-500;
}

.fullscreen{
  width: 100% !important;
  height: 100vh !important;
  @apply absolute top-0 left-0 m-0 bg-white z-10 border-0;
}

:-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
  @apply max-h-[200px];
}

h1{
  font-size: 22px;
  font-weight: 500;
}